# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

UI/target/*
game-engine/logs/*
game-engine/metrics/*
game-engine/eco_city_engine
game-engine/tests/GameServiceTest
game-engine/tests/PetitionManagerTest
game-engine/tests/ResourceManagerTest
game-engine/NUL

.vscode/*
.venv/*

game-engine/build/*
